{{- $values := (fromYaml (readFile (printf "../../../../jg-base/kubernetes/apps/base/%s/%s/app/helmrelease.yaml" .Release.Namespace .Release.Name))).spec.values -}}
{{- if and (eq .Release.Namespace "flux-system") (eq .Release.Name "flux-instance") -}}
{{- $values = mergeOverwrite $values (dict "instance" (dict "sync" (dict "url" "https://github.com/#{ repository_name }#.git"))) -}}
{{- end -}}
{{ $values | toYaml }}
